@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
body {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  background: url("/img/background-new.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}
#about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#publications a {
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .mobile {
    display: none;
  }
}
